[Desktop Entry]
Name=Deepin Tweak
Name[zh_CN]=深度定制
GenericName=Deepin Tweak
GenericName[zh_CN]=深度定制
Icon=deepin-tweak
Exec=/usr/bin/deepin-tweak
Type=Application
X-Deepin-TurboType=dtkqml
