Source: deepin-tweak
Section: admin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 pkg-config,
 qtbase5-dev,
 qtdeclarative5-dev,
 libdtkcommon-dev,
 libdtkcore-dev,
 libdtkgui-dev,
 libdtkdeclarative-dev,
 libgsettings-qt-dev,
 qttools5-dev-tools,
 libnemodbus,
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: deepin-tweak
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: deepin tweak tools
 Advanced customization features for communities
